    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    body {
        scroll-behavior: smooth;
        background-color: black;
    }
    
    body::-webkit-scrollbar {
        width: 10px;
        background-color: #1d1d1d;
        scroll-behavior: smooth;
    }
    
    body::-webkit-scrollbar-thumb {
        background-color: #5b5b5b;
        border-radius: 10px;
        scroll-behavior: smooth;
    }
    
    .container {
        display: flex;
    }
    /*SEÇÃO MENU LATERAL */
    
    .fotoPerfil img {
        width: 120px;
        border: 2px solid white;
        height: 120px;
        border-radius: 100px;
        margin-left: 100px;
        margin-top: 20px;
        object-fit: cover;
    }
    
    .aside-container {
        height: 100vh;
        width: 450px;
        background-image: linear-gradient(to bottom, #483d8b, black);
    }
    
    .aside-container h2 {
        font-size: 20px;
        text-align: center;
        margin-top: 10px;
        color: #ffffff;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    .btnsSociais {
        display: flex;
        justify-content: space-around;
        margin-top: 10px;
    }
    
    .btnsSociais span {
        border: 1px solid black;
        border-radius: 10px;
        background-color: #1d1d1d;
        font-size: 30px;
        width: 40px;
        height: 40px;
        cursor: pointer;
        text-align: center;
        margin-left: 5px;
        margin-right: 5px;
    }
    
    .whats:hover {
        transform: translateY(3.5px);
        transition: all 0.5s;
        background-color: black;
    }
    
    .linkedin:hover {
        transform: translateY(3.5px);
        transition: all 0.5s;
        background-color: black;
    }
    
    .gitHub:hover {
        transform: translateY(3.5px);
        transition: all 0.5s;
        background-color: black;
    }
    
    .btnsSociais i {
        color: #d5d2c8;
        background-color: black;
        border-radius: 5px;
        width: 30px;
        height: 30px;
        display: flex;
        font-size: 25px;
        align-items: center;
        justify-content: center;
        margin-left: 3px;
    }
    
    .btnsSociais a {
        text-decoration: none;
    }
    
    .menu span {
        display: flex;
        opacity: 0.8;
        margin-top: 30px;
        font-size: 30px;
        margin-left: 15px;
        text-decoration: none;
        color: white;
    }
    
    .menu span:hover {
        opacity: 1;
    }
    
    .menu i {
        display: flex;
        margin-top: 16px;
        margin-right: 15px;
        font-size: 30px;
        color: white;
        text-decoration: none;
    }
    
    .menu a {
        text-decoration: none;
        color: inherit;
    }
    /*SEÇÃO MENU MOBILE */
    
    .menu-mobile {
        width: 100%;
        height: 60px;
        background-color: #1d1d1d;
        display: flex;
        position: fixed;
        z-index: 1;
        justify-content: end;
        border-bottom: 0.5px solid white;
    }
    
    .menu-mobile-container {
        width: 100%;
        height: 100%;
        display: none;
    }
    /* OCULTAR MENU DROPDOWN */
    
    .dropDown {
        width: 100%;
        height: 0;
        display: flex;
        position: fixed;
        opacity: 0;
        flex-direction: column;
        transition: 0.2s ease-in;
    }
    
    .dropDown a {
        border: 1px solid gray;
        display: flex;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: white;
        background-color: #1d1d1d;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        width: 100%;
        height: 50px;
    }
    
    .dropDown h2 {
        color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-left: 30px;
    }
    
    .dropDown p {
        border: 2px solid red;
        width: 100%;
        height: 40px;
        color: white;
    }
    /* MOSTRAR MENU DROPDOWN */
    
    .showMenu {
        display: flex;
        width: 100%;
        position: fixed;
        opacity: 1;
        margin-top: 60px;
        background-color: black;
        z-index: 1;
        flex-direction: column;
        transition: 0.5s ease-in-out;
    }
    
    .showMenu h2 {
        color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-left: 30px;
    }
    
    .showMenu p {
        border: 2px solid red;
        width: 100%;
        height: 40px;
        color: white;
    }
    
    .showMenu a {
        border: 1px solid gray;
        display: flex;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: white;
        background-color: #1d1d1d;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        width: 100%;
        height: 50px;
    }
    
    .showMenu a:hover {
        background-color: gray;
        transition: 0.5s ease;
    }
    /* FOTO DE PERFIL MOBILE*/
    
    .container-perfil {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
    }
    
    .foto-perfil img {
        width: 120px;
        border: 2px solid white;
        height: 120px;
        border-radius: 100px;
        margin-top: 20px;
        object-fit: cover;
    }
    /* MENU HAMBURGER*/
    
    .menu-hamb {
        margin-top: 7px;
        width: 50px;
        height: 100%;
        transition: 0.5s ease;
    }
    
    .menu-hamb span {
        position: absolute;
        border-radius: 5px;
        border: 1px solid white;
        background-color: white;
        width: 40px;
        margin-bottom: 10px;
        height: 5px;
    }
    /* CLASSES ALTERADAS COM JS*/
    /* PARA TRANSFORMAR O MENU EM 'X' */
    
    .menu-hamb-click {
        width: 50px;
        height: 100%;
        margin-bottom: 10px;
    }
    
    .menu-hamb-click span {
        position: absolute;
        border-radius: 5px;
        border: 1px solid white;
        background-color: white;
        width: 40px;
        height: 5px;
    }
    
    .menu-hamb-click {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .click-menu1 {
        display: none;
        transition: 0.5s;
    }
    
    .click-menu2 {
        transform: rotate(-300deg);
        transition: 0.5s;
    }
    
    .click-menu3 {
        transform: rotate(300deg);
        transition: 0.5s;
    }
    /*SEÇÃO MAIN */
    
    .main-container img {
        width: 100%;
    }
    
    .main-container {
        display: flex;
        width: 100%;
    }
    
    .main-container .txt {
        height: 100px;
        width: 400px;
        font-size: 50px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin: 0;
        margin-top: 200px;
        margin-left: 20px;
        position: absolute;
        color: white;
    }
    
    .main-container .txt2 {
        height: 60px;
        margin: 0;
        margin-left: 20px;
        margin-top: 390px;
    }
    
    .main-container span {
        position: absolute;
        margin-left: 115px;
        margin-top: 350px;
        color: white;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 30px;
    }
    
    .main-container h1:after {
        content: '|';
        margin-left: 5px;
        opacity: 1;
        animation: pisca .7s infinite;
    }
    /*SEÇÃO CONTEUDO */
    
    #container-conteudo {
        background-color: black;
    }
    
    #container-conteudo h1 {
        color: #8dbdeb;
        text-decoration: underline;
        font-size: 40px;
        margin-bottom: 30px;
        margin-left: 20px;
        margin-top: 30px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    #container-conteudo p {
        color: whitesmoke;
        font-size: 40px;
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    /*SOBRE MIM*/
    
    #sobreMim {
        display: flex;
        width: 100%;
        height: 100%;
        margin: 2px 5px 5px 5px;
        border-radius: 5px;
        box-shadow: 10px 10px 25px rgba(255, 255, 255, 0.5);
    }
    /*SKILLS*/
    
    #skills {
        margin: 5px 5px 5px 5px;
        box-shadow: 10px 10px 25px rgba(255, 255, 255, 0.5);
        border-radius: 5px;
        margin-top: 20px;
        height: 100%;
    }
    
    .cards {
        display: flex;
        width: 100%;
        height: 290px;
        perspective: 1000px;
        transform-style: preserve-3d;
    }
    
    .card1 {
        box-shadow: 10px 10px 25px rgba(255, 255, 255, 0.5);
        height: 200px;
        width: 250px;
        background-color: rgb(51, 50, 50);
        border-radius: 10px;
        margin-left: 100px;
        margin-top: 40px;
        position: relative;
        transition: .5s;
    }
    
    .card2 {
        box-shadow: 10px 10px 25px rgba(255, 255, 255, 0.5);
        height: 200px;
        width: 250px;
        background-color: rgb(51, 50, 50);
        border-radius: 10px;
        margin-left: 200px;
        margin-top: 40px;
    }
    
    .card3 {
        box-shadow: 10px 10px 25px rgba(255, 255, 255, 0.5);
        height: 200px;
        width: 250px;
        background-color: rgb(51, 50, 50);
        border-radius: 10px;
        margin-left: 200px;
        margin-top: 40px;
    }
    
    .card1 img {
        width: 130px;
        opacity: 0.8;
        transition: 0.5s;
        margin-left: 60px;
    }
    
    .card2 img {
        width: 130px;
        opacity: 0.8;
        transition: 0.5s;
        margin-left: 60px;
    }
    
    .card3 img {
        width: 130px;
        opacity: 0.8;
        transition: 0.5s;
        margin-left: 60px;
    }
    
    .react {
        margin-top: 20px;
        width: 80px;
    }
    
    .card1 img:hover {
        opacity: 1;
        transition: 0.5s;
    }
    
    .card2 img:hover {
        opacity: 1;
        transition: 0.5s;
    }
    
    .card3 img:hover {
        opacity: 1;
        transition: 0.5s;
    }
    /* PROJETOS */
    
    #projetos {
        margin: 5px 5px 5px 5px;
        box-shadow: 10px 10px 25px rgba(255, 255, 255, 0.5);
        border-radius: 5px;
        width: 100%;
    }
    
    #projetos p {
        font-size: 20px;
    }
    
    .projetos-container {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(2, 320px);
        grid-gap: 50px;
        width: 100%;
    }
    
    .descricao {
        border: 0.5px solid white;
        color: red;
        border-radius: 5px;
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
    .video-projeto {
        border: 0.5px solid gray;
        border-radius: 5px;
    }
    
    .video-projeto video {
        width: 100%;
    }
    /*CONTATO*/
    
    #contato {
        opacity: 0.8;
        background-color: rgb(51, 50, 50);
        color: white;
        margin-top: 20px;
        height: 200px;
    }
    
    #contato i {
        margin-top: 40px;
    }
    
    #contato a:visited {
        text-decoration: none;
        color: white;
    }
    
    #contato a {
        text-decoration: none;
        color: white;
    }
    
    .footer-container {
        display: flex;
        margin-top: 45px;
        flex-direction: column;
        align-items: center;
        font-size: 40px;
        font-weight: bold;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    }
    
    .btnSociais-container {
        justify-content: center;
        width: 300px;
        height: 50px;
        align-items: center;
        display: flex;
    }
    
    .btnSociais-container .linkedin {
        border: 1px solid #1d1d1d;
        text-align: center;
        height: 100%;
        text-align: center;
        margin-right: 40px;
        align-items: center;
    }
    
    .btnSociais-container .whats {
        border: 1px solid #1d1d1d;
        text-align: center;
        height: 100%;
        align-items: center;
        margin-right: 40px;
    }
    
    .btnSociais-container .gitHub {
        border: 1px solid #1d1d1d;
        text-align: center;
        height: 100%;
        align-items: center;
    }
    /* KEYFRAMES*/
    
    @keyframes pisca {
        0%,
        100% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
    }